
{% extends 'base.html' %}  
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
</head>
<body class="h-screen">
        
    {% block content %}
<div class="flex flex-col h-full justify-center">
    <h1 class="flex font-bold items-start justify-center text-3xl m-5 py-8">Available Interviews</h1>
    
    <div class="w-full flex justify-center" >
        {% for availability in availabilities %}
          <div class="bg-gray-300 text-black p-8 px-8 m-4 mr-2 rounded-lg flex flex-col items-center ">
            <h1 class="font-bold">Category:</h1>
            <p>{{ availability.category }}</p>
            <h1 class="font-bold">Date: </h1>
            <p>{{ availability.date }}</p>
            <h1 class="font-bold">Time: </h1>
            <p> {{ availability.time }}</p>
            <h1 class="font-bold">Price: </h1>
            <p> {{ availability.price }}</p>
          </div>
        {% endfor %}
    </div>

    <div>
        

    </div>
</div>
{% endblock %}

</body>
</html>
