
{% extends 'base.html' %}  
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Host an Interview{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
</head>
<body class="h-screen">
        
    {% block content %}
<div class="flex flex-row h-full justify-center">
    <div class="bg-cover bg-center w-1/2 bg-blue-800 text-white flex justify-center items-center">
        <h1 class="flex font-bold items-start justify-center text-3xl mb-4 py-2">Host An Interview</h1>
    </div>
    <div class="w-1/2 px-4 m-4 flex flex-col justify-center">
        <h2 class="text-2xl">Category</h2>
        <input name ="category" type="text" placeholder=" Category" class="bg-gray-300 rounded-lg mb-4 w-full text-white text-lg" required>
        <h2 class="text-2xl">Date</h2>
        <input name="date" type="date" placeholder=" Date" class="bg-gray-300 rounded-lg mb-4 w-full text-white text-lg" required>
        <h2 class="text-2xl">Time</h2>
        <input name="time" type="time" placeholder=" Time" class="bg-gray-300 rounded-lg mb-4 w-full text-white  text-lg" required>
        <h2 class="text-2xl">Price</h2>
        <input name="price" type="number" placeholder=" Price" class="bg-gray-300 rounded-lg mb-4 w-full text-white text-lg" required>
        
        <div class="w-full flex flex-row justify-center">
        <button class="bg-blue-800 rounded-lg px-4 py-2 m-4 text-white font-bold text-2xl hover:bg-white hover:text-blue" style="border: solid rgb(30 64 175) 2px"> Host </button>
        </div>  
    </div>
</div>
{% endblock %}

</body>
</html>
